target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
out/
.nb-gradle/

*.tar.*
build/
dist/
out/
cache/
archive/
extracted/
*/.build/
.build/
build.log
.config.old
a.out
*.out
*.o
*.so
*.a
*.dll
*.dylib
*.log
*.tmp
*.cache